{% include 'base.html'   %}
{% block body %}
            <div class="content">
                <h2>Sign In</h2>
                <div class="form">
                    <form action="/login/" method="POST">
                        {% csrf_token %}
                        {% if error %}
                            <div class="alert alert-danger p-2" role="alert">
                                {{ error }}
                            </div>
                        {% endif %}
                        <div class="inputBox">
                            <input type="email" name="email" id="email" value="{{ values.email }}" required>
                            <i>Email</i>
                        </div>
                        <div class="inputBox">
                            <input type="password" name="password" id="pass" required>
                            <i>Password</i>
                        </div>
                        <div class="links">
                            <a href="/">Home</a>
                            <a href="/signup/">Signup</a> <!-- Updated link -->
                        </div>
                        <div class="inputBox">
                            <input type="submit" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endblock %}